<!doctype html>
    <title>图片比对</title>
    <h1>输入需要查找的人员信息</h1>
    <form method="POST" enctype="multipart/form-data">
      <br>姓名<br>
      <input type="form" name="name">
      <br>年龄<br>
      <input type="form" name="age">
      <br>年龄段<br>
      <select>
      <option value="1-20">小于20岁</option>
      <option value="20-30">20-30岁</option>
      <option value="30-40">30-40岁</option>
      <option value="40-50">40-50岁</option>
      </select>
      <br>身份证号<br>
      <input type="form" name="id_card">
      <input type="submit" value="搜索">
    </form>
